.markerbtn {
  background: #3aec93;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 38px;
  height: 38px;
}
.markerbtn img {
  width: 20px;
  height: 20px;
}
.imgs {
  width: 20px;
  height: 20px;
}

.cluster {
  color: #fff;
  background: #3aec93;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.navigation {
  top: 50px;
  right: 10px;
}
